.login-container > div {
    width: 40%;
    border-radius: 20px;
    padding: 3%;
    border: 1px solid var(--primary-color);
    background-color: #fff;
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);;
}

.login-container {
    height: 98vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button-container button {
    height: 30px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}